---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Header.astro";
import Dinamica from "../components/howto/dinamica.astro"
import BackButton from "../components/play/BackButton.astro";
---

<Layout title="BingoLetes - How to Play ?">
    <Title/>
    <Dinamica/>
    <a href="/bingoletes/" class="mx-auto items-center"><BackButton/></a>
</Layout>