---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Header.astro";
import Dinamica from "../components/howto/dinamica.astro"
import HomeButton from "../components/HomeButton.astro";
---

<Layout title="BingoLetes - How to Play ?">
    <Title/>
    <Dinamica/>
    <div class="flex mx-auto justify-center">
        <a href="/bingoletes/" ><HomeButton/></a>
    </div>
   
</Layout>