---
import { Image } from 'astro:assets';
---
<a href="https://librecounter.org/referer/show">
    <Image src="https://librecounter.org/counter.svg" width="16" height="16" alt="Ojo de Horus" referrerPolicy="unsafe-url" hidden/>
</a>