---
---
<div class="container min-w-80 max-w-xs md:max-w-md mx-auto px-4 py-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mx-auto">
        <a href="/bingoletes/play">
            <button class="border-4 rounded-md flex items-center w-full h-full transition-all duration-300 hover:ring-2 hover:ring-neutral-800 hover:ring-offset-2">
                <img class="w-1/4 p-2 md:p-1" src="/src/assets/play.png" />
                <p class="font-righteous w-3/4 p-2 text-2xl">Play!</p>
            </button>
        </a>
        <a href="https://www.bingo.es/cartones-bingo/">
            <button class="border-4 rounded-md flex items-center w-full h-full transition-all duration-300 hover:ring-2 hover:ring-neutral-800 hover:ring-offset-2">
                <img class="w-1/4 p-2 md:p-1" src="/src/assets/Vector.png"></img>
                <p class=" font-righteous w-3/4 p-4 text-2xl">Cartones</p>
            </button>
        </a>
    </div>
</div>