---
import { Image } from 'astro:assets'
import tombola_blanca from '../../assets/tombola-blanca.svg'
import tombola_negra from '../../assets/tombola-negra.svg'
import carton_blanco from '../../assets/carton-blanco.svg'
import carton_negro from '../../assets/carton-negro.svg'

---
<div class="container min-w-80 max-w-xs md:max-w-md mx-auto px-4 py-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mx-auto">
        <a href="/play">
            <button class="border-4 rounded-md dark:border-none dark:bg-slate-800 flex items-center w-full h-full transition-all duration-300 hover:ring-2 hover:ring-neutral-800 hover:ring-offset-2">
                <Image class="w-1/4 p-2 md:p-1 dark:hidden" src={tombola_negra} alt="Botón para jugar." />
                <Image class="w-1/4 p-2 md:p-1 hidden dark:block" src={tombola_blanca} alt="Botón para jugar." />
                <p class="font-righteous dark:text-slate-200 w-3/4 p-2 text-2xl">Play!</p>
            </button>
        </a>
        <a href="/howto">
            <button class="border-4 rounded-md dark:border-none dark:bg-slate-800 flex items-center w-full h-full transition-all duration-300 hover:ring-2 hover:ring-neutral-800 hover:ring-offset-2">
                <Image class="w-1/4 p-2 md:p-1 dark:hidden" src={carton_negro} alt="Redirección a bingo.es para imprimir cartones"/>
                <Image class="w-1/4 p-2 md:p-1 hidden dark:block" src={carton_blanco} alt="Redirección a bingo.es para imprimir cartones"/>
                <p class=" font-righteous dark:text-slate-200 w-3/4 p-4 text-lg">Cómo jugar?</p>
            </button>
        </a>
    </div>
</div>