---
---
<button id="PauseButton" class="relative inline-flex h-12 w-12 items-center justify-center rounded-md border border-neutral-300 bg-transparent transition-colors hover:bg-neutral-200 justify-self-end transition-all duration-300 hover:ring-2 hover:ring-neutral-800 hover:ring-offset-2 hidden">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"> <g> <path fill="none" d="M0 0h24v24H0z"/> <path d="M6 5h2v14H6V5zm10 0h2v14h-2V5z"/> </g> </svg>
</button>