---

---

<table class="font-righteous dark:bg-slate-800 m-1.5 mx-auto border-separate border-spacing-0" id="last_five_numbers_table">
    <tr>
        <td class="dark:text-slate-200 dark:border-slate-500 border-s-2 border-y-2 border-black rounded-l-lg text-center p-1 text-3xl min-w-16 md:min-w-20" id="last_numbers_5"></td>
        <td class="dark:text-slate-200 dark:border-slate-500 border-s-2 border-y-2 border-black text-center p-1 text-3xl min-w-16 md:min-w-20" id="last_numbers_4"></td>
        <td class="dark:text-slate-200 dark:border-slate-500 border-s-2 border-y-2 border-black text-center p-1 text-3xl min-w-16 md:min-w-20" id="last_numbers_3"></td>
        <td class="dark:text-slate-200 dark:border-slate-500 border-s-2 border-y-2 border-black text-center p-1 text-3xl min-w-16 md:min-w-20" id="last_numbers_2"></td>
        <td class="dark:text-slate-200 dark:border-slate-500 border-x-2 border-y-2 border-black rounded-r-lg text-center p-1 text-6xl min-w-16 md:min-w-20" id="last_numbers_1"></td>
    </tr>
</table>
