---
import PauseButton from "../play/PauseButton.astro";
import Card from "./Card.astro";
---

<div class="grid xl:grid-cols-4 gap-4 font-righteous p-10 mx-auto">
    <Card class="xl:rotate-3"   number = {"1"} title = {"¡Imprime cartones!"}>Genera cartones de 90 bolas en <a href="https://www.bingo.es/cartones-bingo/" class="text-blue-500">bingo.es</a> y tacha los números a partir del 81.</Card>
    <Card class="xl:-rotate-3"  number = {"2"} title = {"¡Reparte cartones y cobra!"}>Una persona hace de moderador: por ahora reparte cartones y cobra el cartón. </Card>
    <Card class="xl:rotate-3"   number = {"3"} title = {"¡Lanza el BingoLetes!"}>El moderador lanza el juego y está atento... </Card>
    <Card class="xl:-rotate-3"  number = {"4"} title = {"¡Reparte los premios!"}>Cuando alguien cante <em>¡LINEA!</em> o <em>¡BINGO!</em>, el moderador pausa el juego y comprueba el cartón.</Card>
</div>